#teaser paper-item {
  height: 70px;
}

#full {
  padding: 15px;
}

.datePlaced {
  font-size: 14px;
  color: #818181;
}

ul#holdsList, ul#loansList {
  -webkit-padding-start: 20px;
}

ul#holdsList li, ul#loansList li {
  margin-bottom: 15px;
}